



.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -100%);
}
.modal{
    position: absolute;
    padding: 72px 24px 24px 24px;;
    top: 50%;
    left: 50%; 
    width: 408px;
    min-height: 584px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.close-popup{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.close-popup:hover,
.close-popup:focus{
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}
.icon-popup{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.text-popup{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-wrapper{
    margin-bottom: 8px;
}
.textarea-text{
    margin-bottom: 16px;
}
.label-field{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}
.field-wrapper{
    position: relative;
}
.text-field{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;

}
.text-field:focus{
    border-color: #4D5AE5;
    outline: none;
}
.field-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);   
} 
.text-field:focus + .field-icon{
    fill: #4D5AE5;
    
}
.comment-field{
    width: 100%;
    height: 120px;
    color: rgba(46, 47, 66, 0.4); 
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.comment-field:focus{
    border-color: #4D5AE5; 
}
.checkbox-wrapper{
    margin-bottom: 24px;
}
.checkbox-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;     
}
.checkbox-custem {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
       border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
       fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-label .checkbox-custem{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-policy{
    color: #4d5ae5;
    text-decoration: underline;
}
.button-form{
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}